*{
    margin: 0;
    padding: 0;
}
body{
    
    background-color: #e4e4e4;
}

.main{
    width: 100%;
    height: 100vh;
   border: 1px solid;
}
.container{
    width: 90%;
    margin-left: 5%;
    height: 60%;
    border: 1px solid black; 
    background-color: orangered;
    margin-top: 10%;
    border-radius:10px ;

}
.a{
   
    width: 30%;
    height: 80%;
    margin: 3%;
    
}
.b{
    
    width: 95%;
    height: 22%;
    padding-left: 5%;
    padding-top: 10%;
}
.c{
    
    width: 95%;
    height: 22%;
    padding-left: 5%;
    padding-top: 10%;
}
.d{
    
    width: 95%;
    height: 22%;
    padding-left: 5%;
    padding-top: 10%;
}
.form{
    height: 75%;
    width: 35%;
    position: absolute;
    background-color: white;
    top: 13%;
    right: 10%;
    box-shadow: 2px 2px 5px 4px gray;
    border-radius: 5px;
}
.cnt{
    
    width:100%;
    height: 20%;
    padding-left: 10%;
    
}
.cnt h1{
    
    font-size: 35px;
    padding-top: 9%;
}
.fill{
    
    height: 80%;
    width: 100%;
   
}
.fill input{
    border-bottom: 3px solid black;
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 80%;
    
}
#name{
    margin-top: 5%;
    margin-left: 10%;
}
#mail{
    margin-top: 10%;
    margin-left: 10%;
}
#txt{
    margin-top: 5%;
    margin-left: 10%;
    
    height: 30%;
}
.form input:focus{
    outline: none;
}
::placeholder{
    color: black;
}
#sbm{
   
    width: 20%;
    height: 30px;
    border-radius: 7px;
    text-align: center;
    font-size: larger;
    margin-left: 10%;
    margin-top: 10%;
    border: none;
    cursor: pointer;
    transition: 0.4 ease;
    font-weight: bold;
}