*{
    margin: 0;
    padding: 0;

}

.main{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: scroll;
    background:linear-gradient(to right, #9c27b0 , #8ecdff);
    background-position: center;
}
nav{
    width: 100%;
    z-index: 1;
    align-items: center;
    display: flex;
    position: sticky;
    margin: 20px auto;
}
.logo{
    font-size: xxx-large;
    color: blue;
  margin-left: 5%;
    
}

.navbar{
    
    flex: 1;
    text-align: center;
    
}

.navbar ul li{
    display: inline-block;
    list-style: none;
    margin: 0 15px;
}
.navbar ul li a{
    color: white;
    text-decoration: none;
    font-size: x-large;
}
.navbar ul li a:hover{
    color: #8ecdff;
}
.search-box{
    
    position: absolute;
    float: left;
    top: 2%;
    left: 80%;
    background-color: transparent;
    height: 40px;
    border-radius: 40px;
    padding: 5px;
    border: 1px solid black;
    box-shadow: 1px 1px 2px 2px ;
}
.search-box:hover>#search-txt{
width: 160px;
padding: 0;

}
.search-box:hover>.search-btn{
background: red;

}
.search-box a{
    text-decoration: none;
    background: orange;
}
.search-btn{
color: white;
float: right;
width: 40px;
height: 40px;
border-radius: 50%;
background:transparent;
display: flex;
justify-content: center;
align-items: center;

}

#search-txt{
border: none;
background: none;
outline: none;
float: left;
padding: 0;
color: white;
font-size: 16px;
transition: 0.5s;
line-height: 40px;
width:  0px;
}
::-webkit-input-placeholder{
    color: white;
}
.left{
    width: 50%;
    height: 100vh;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: -10%;
}
#circle{
    width: 110%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
   
    transform: rotate(0deg);
    transition: 1s;
    top:0;
    left: 0;
}
.feature{
    position: absolute;
    display: flex;
    color: white;
    
}
.one{
    top: 300px;
    right: -150px;
    
}

.two{
    top:-140px;
    right: 280px;
    transform: rotate(-90deg);
}
.three{
    bottom: 300px;
    left: -150px;
    transform: rotate(180deg);
}
.four{
    bottom: -140px;
    right: 280px;
    transform: rotate(90deg);
}
.mobile{
    width: 300px;
    
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translateY(-50%);
    z-index: 1;
    
}

.controls{
    right: 10%;
    top: 50%;
    text-align: center;
    position: absolute;
    transform: translateY(-50%);
    
    
}
.controls h2{
    color: white;
    margin: 10px ;
}
.controls button{
    background-color: transparent;
    box-shadow: 2px 2px 2px 3px rgba(1, 1, 1, 0.703);
    width: 150%;
    height: 40px;
    border-radius: 5px;
   position: absolute;
   margin-top: 250px;
   right: 10%;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
.controls button a{
    color: white;
    text-decoration: none;
}

#upbtn{
    transform: rotate(270deg);
    width: 20px;
    cursor: pointer;
}
#downbtn{
    transform: rotate(90deg);
    width: 20px;
    cursor: pointer;
}
.over{
    width: 0;
    height: 0;
    border-top: 550px solid white;
    border-right: 500px solid transparent;
    border-bottom: 450px solid white;
    border-left: 500px solid white;
    position: absolute;
    left:-20%;
    top: -25%;
}





.container{
    margin-top: 98vmin;
    width: 1328px;
    height: 100%;
    text-align: justify;
    position: absolute;
    background-color: white;
    
   
}
.spec{
    height: 15%;
    display: flex;
}

.spec h1{
    position: relative;
    left: 10%;
    font-size: xxx-large;
    top: 20%;
    color: blue;
}
.spec h2{
 position: relative;
 right: -50%;
 font-size: xxx-large;
  top: 20%;
}
.tbl1{
    float: left;
    position: absolute;
    width: 25%;
    height:80% ;
   background-color: whitesmoke;
    display: flex;
   align-items: center;
   justify-content: center;
   margin-left: 90px;
   margin-right: 5px;
  box-shadow: 2px 2px 5px 1px ;
}
.tbl2{
    float: right;
    position: absolute;
    width: 60%;
    height:80% ;
   margin-right: 80px;
    right: 0;
}

.tbl2 table{
    width: 100%;
    height: 18%;
    border-spacing: 0;
empty-cells: hide;
    margin-top: 10px;
    background-color: whitesmoke;
    box-shadow: 2px 2px 5px 1px ;
}

