*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}
.main{
    padding: 0px 5vmin;
    width: 100vw;
    height: 100vh;
    background-image: url(background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    box-sizing: border-box;
    

}

.navbar{
    width: 100%;
    height: 75px;
    margin: auto;

}

.icon{
    width:100%;
    padding-top: 0px;
    height: 75px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.logo{
    color: orange;
    margin-right: 7px;
    font-family: Arial;
    font-size: 60px;
    padding-top: 6px;
    
}

.logo span{
    font-size: 60px;
color: white;
}
.span{
    font-family: Arial;
    font-size: 3vmax;
}
.menu{
    position: absolute;
    right: 30%;
    width: fit-content;
    top: 4%;
}
ul {
   
    display: flex;
    justify-content: center;
    align-items: center;
}


ul li{
    list-style: none;
    margin: 1vmin 3vmin;
    font-size: 2.5vmin;
    
   
}
ul li a{
    text-decoration: none;
    color: white;
    font-family: Arial;
    font-weight: bold;
    text-transform: capitalize;
   
}
.menu ul li a {
    color:white;
}
.menu ul li a:hover{
    color: orange;
}
.search-box{
    position: absolute;
    float: left;
    top: 2%;
    left: 80%;
    background-color: transparent;
    height: 50px;
    border-radius: 40px;
    padding: 5px;
    border: 1px solid black;
}
.search-box:hover>#search-txt{
width: 160px;
padding: 0;

}
.search-box:hover>.search-btn{
background: red;

}
.search-box a{
    text-decoration: none;
    background: orange;
}
.search-btn{
color: white;
float: right;
width: 40px;
height: 40px;
border-radius: 50%;
background:transparent;
display: flex;
justify-content: center;
align-items: center;

}

#search-txt{
border: none;
background: none;
outline: none;
float: left;
padding: 0;
color: white;
font-size: 16px;
transition: 0.5s;
line-height: 40px;
width:  0px;
}
::-webkit-input-placeholder{
    color: white;
}
.content{
    position: absolute;
    top: 30%;
    left: 53%;
    height: auto;
    width: 500px;
    color: white;
   text-align: center;
    text-transform: capitalize;
    font-size: 30px;
    width: 500px;
    
}

.content p{
    margin-top: 10px;
    text-align: justify;
    font-size: large;
}
.content span{
    color: orange;
    
    
}

.btn1{
    box-shadow: 3px 3px 5px 3px black ;
    position: absolute;
    top: 80%;
    left: 65%;
    background-color: transparent;
    
    width: 150px;
    height: 40px;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
.btn1 a{
    color: orange;
    text-decoration: none;
}
.content button a{
    text-decoration: none;
}
.formtag{
    width: 20vmax;
    height: auto;
   
}
.form{
    float: right;
    background-color: transparent;
    padding: 10px;
    margin-right: 10%;
    margin-top: 20vmin;
    text-transform: capitalize;
    height: auto;
    

}
.menu ul li a :hover{
    color: orange;
}